<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1><%= locals.title %></h1>
    <% if ( locals.messages && locals.messages.length > 0 ) {%>
        <% locals.messages.forEach((message, idx) => { %>
            <div class="msg-card">
                <p><span class="msg-txt"><%= message.text %></span> - <span class="msg-user"><%= message.user %></span></p>
                <% const addedDate = new Date(message.added); %>
                <p class="msg-date">
                <%= addedDate.toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'short' }) %>
                </p>
                <a href="./message/<%= idx %>">Open</a>
            </div>
        <% }); %>
    <% } else { %>
        <p>No messages</p>
    <% } %>
    <a href="./new">Add New Message</a>
</body>
</html>